!doc/img/play_gui.png
!download_best_model.sh
.idea
.python-version
*.mdl
*.png
*.pyc
__pycache__
.DS_Store
*.pkl
*.csv
*.gz
/data/
.ipynb_checkpoints/
tmp/
tmp.*
.env
*.bin
/bin/
/keys/*
video/*
*.h5
logs/
*.sh
!/download_best_model.sh
!/download_newest_model_as_best_model.sh
!/doc/img/play_gui.png
